<%- include('../HOC/head.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>
                Add new Product
            </h2>
        </div>
    </div>
    <form action="/products" method="POST">
        <div class="row">
            <div class="col-12">
                <label for="name">Product Name:</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="price">Product price:</label>
                <input type="number" name="price" id="price" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="category">Select Categroy</label>
                <Select id="category" name="category" class="form-select">
                    <option value="fruit">Fruits</option>
                    <option value="vegetable">Vegetables</option>
                    <option value="dairy">Dairy product</option>
                </Select>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <button type="submit" class="btn btn-success w-100">Add Product</button>
            </div>
            <div class="col">
                <a href="/products" type="button" class="btn btn-outline-info w-100">Back to the products page</a>
            </div>
        </div>
    </form>
</div>
<%- include('../HOC/foo.ejs') %>